{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Réservations</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>


<body>
    <div class="container">
        {% if user.is_authenticated %}
        <p class="m-3">Bonjour, {{ user.username }}! <a href="{% url 'logout' %}" class="btn btn-danger">Se déconnecter</a></p>
        {% else %}
            <p class="m-3"><a href="{% url 'login' %}" class="btn btn-primary">Se connecter</a> | <a href="{% url 'signup' %}" class="btn btn-success">S'inscrire</a></p> 
        {% endif %}
        
        <div class="row">
            <div class="col-md-6">
                <h2>Liste des Réservations</h2>
                {% if reservations %}
                    <ul class="list-group">
                        {% for reservation in reservations %}
                            <li class="list-group-item"><a href="{% url 'booking:reservation_details' reservation.numero_reservation %}">{{ reservation.id }} : {{ reservation.trajet }} - {{ reservation.date_reservation }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucun trajet disponible.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>