{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Réservations</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"> 
                <img src="assets/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
                TrainBooking
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class = container mt-3>        
        <div class="row">
            <h2>Liste des Réservations</h2>
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Numéro de réservation</th>
                            <th>Date de réservation</th>
                            <th>Client</th>
                            <th>Passager</th>
                            <th>Trajet</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <td>{{ reservation.numero_reservation }}</td>
                                <td>{{ reservation.date_reservation }}</td>
                                <td>{{ reservation.client }}</td>
                                <td>{{ reservation.passager }}</td>
                                <td>{{ reservation.trajet }}</td>
                                <td>
                                    <a href="{% url 'booking:reservation_details' reservation.numero_reservation %}" class="btn btn-primary">Détails</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>