<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Trajets</title>
</head>

<body>
    {% if user.is_authenticated %}
        <p>Bonjour, {{ user.username }}! <a href="{% url 'logout' %}">Se déconnecter</a></p>
        <p><a href="{% url 'booking:reservations' %}">Mes Reservations</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Se connecter</a> | <a href="{% url 'login' %}">S'inscrire ne fonctionne pas</a></p> 
    {% endif %}

    {% if trajets %}
        <ul>
        {% for trajet in trajets %}
            <li> {{ trajet.gare_depart }} - {{ trajet.gare_arrivee }} </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Aucun trajet disponible.</p>
    {% endif %}
</body>
</html>
</html>