<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Trajets</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container">
        {% if user.is_authenticated %}
            <p class="mb-3">Bonjour, {{ user.username }}! <a href="{% url 'logout' %}" class="btn btn-primary">Se déconnecter</a></p>
            <p><a href="{% url 'booking:reservations' %}" class="btn btn-secondary">Mes Réservations</a></p>
        {% else %}
            <p><a href="{% url 'login' %}" class="btn btn-primary">Se connecter</a> | <a href="{% url 'login' %}" class="btn btn-primary">S'inscrire</a></p> 
        {% endif %}

        <div class="row">
            <h2>Liste des Trajets</h2>
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>Gare de départ</th>
                            <th>Gare d'arrivée</th>
                            <th>Date de départ</th>
                            <th>Date d'arrivée</th>
                        </tr>

                    </thead>
                    <tbody>
                        {% for trajet in trajets %}
                            <tr>
                                <td>{{ trajet.gare_depart }}</td>
                                <td>{{ trajet.gare_arrivee }}</td>
                                <td>{{ trajet.heure_depart }}</td>
                                <td>{{ trajet.heure_arrivee }}</td>
                            </tr>
                        {% endfor %}   
                    </tbody>
            </div>
        </div>
    </div>
</body>
</html>