<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Trajets</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container">
        {% if user.is_authenticated %}
            <p class="mb-3">Bonjour, {{ user.username }}! <a href="{% url 'logout' %}" class="btn btn-primary">Se déconnecter</a></p>
            <p><a href="{% url 'booking:reservations' %}" class="btn btn-secondary">Mes Réservations</a></p>
        {% else %}
            <p><a href="{% url 'login' %}" class="btn btn-primary">Se connecter</a> | <a href="{% url 'login' %}" class="btn btn-primary">S'inscrire</a></p> 
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                <h2>Liste des Trajets</h2>
                {% if trajets %}
                    <ul class="list-group">
                        {% for trajet in trajets %}
                            <li class="list-group-item">{{ trajet.gare_depart }} - {{ trajet.gare_arrivee }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucun trajet disponible.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>